<div class="card m-2">
    <p-table [value]="PostListdata" [tableStyle]="{ 'width': '100%' }"  class="custom-table"  styleClass="p-datatable-gridlines" >
        <ng-template pTemplate="header">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>slug</th>
                <th>Actions</th>
               
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.title }}</td>
                <td>{{ product.slug }}</td>
                <td><a (click)="showDialog(product.id)"><i class="pi pi-file-edit"></i></a></td>

            </tr>
        </ng-template>
    </p-table>
</div>


<p-dialog header="Edit Profile" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
    <span class="p-text-secondary block mb-5">Update your information.</span>
   
</p-dialog>